.cursor
.venv
.vscode
typings
__pycache__

tex/**/*.aux
tex/**/*.bbl
tex/**/*.blg
tex/**/*.fls
tex/**/*.log
tex/**/*.gz
tex/**/*.fdb_latexmk
tex/**/*.out
tex/**/*.toc

tex/*/*.aux
tex/*/*.bbl
tex/*/*.blg
tex/*/*.fls
tex/*/*.log
tex/*/*.gz
tex/*/*.fdb_latexmk
tex/*/*.out
tex/*/*.toc

jax_cache

assets/urdf/*/*.xml
MUJOCO_LOG.TXT
